*{
  margin: 0;
}
body{
  background-color: #f58;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}
h1{
  background-color: #ee0b25;
  width: 50%;
  margin-top: 40px;
  margin-left:auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 40px 2px 40px 2px; 
  animation-name: h1;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transition: background-color 1s;
}
@keyframes h1{
  50%{
    background-color: #e43a3aec;
  }
}

